[submodule "frontend"]
	path = frontend
	url = https://github.com/colour-me-bibi/WhatAreTheOdds-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/colour-me-bibi/WhatAreTheOdds-backend.git
